*.pyd
*.pyc
*.so
*.pdb

# Various output names
win_*/
linux_*/
osx_*/
Source/Interrogate*

# Packaging build artifacts
panda3d_steamworks/*.pyd
panda3d_steamworks/*.so
panda3d_steamworks/*.dll
panda3d_steamworks/*.dylib
panda3d_steamworks/*.pdb
build/
dist/
*.egg-info/
*.whl
